/* css reset ------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* END css reset--------------------------------------------- */

body {
  font-family: "Spartan";
}

* {
  font-family: "Spartan";
}

.navbarHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6vh;
  background: #f2f2f2;
  z-index: 3;
  position: fixed;
}

.navbarContainer {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 80%;
}

.logoImg {
  width: 2.5rem;
}

.navbarContainer ul {
  display: flex;
}

.navbarContainer ul li {
  margin: 1rem 1.2rem;
}

.navbarContainer ul li:last-of-type {
  margin-right: 0;
}

.navbarContainer ul li a {
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.homeContainer {
  background-image: url("https://wallpaperaccess.com/full/446984.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.homeContainer::after {
  content: "";
  width: 100%;
  height: 10vh;
  background: black;
  position: absolute;
  box-shadow: 0 15px 15px 0px #919191;
  bottom: 50px;
  border-radius: 48%;
}

.homeIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeIntro h1 {
  font-size: 3rem;
  color: #323031;
  font-weight: 700;
  margin-bottom: 1.7rem;
}

.homeIntro h3 {
  font-size: 1.5rem;
  color: #323031;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
}

.homeIntro .homeBtn {
  border: 1px solid #000;
  border-radius: 4px;
  background: #000;
  color: #ff4b4b;
  cursor: pointer;
  padding: 1rem 1.8rem;
  font-size: 1rem;
}

/* About Component --------------------------------------------------------- */

.aboutContainer {
  margin-top: 5rem;
}

.aboutHeader,
.skillsHeader,
.projectsHeader {
  color: #323031;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin: 3.5rem 0;
}

.aboutText {
  font-size: 1.3rem;
  line-height: 2;
}

.aboutContainer .iconContainer {
  font-size: 3rem;
  text-align: center;
}

.iconContainer i {
  margin: 2rem;
}

/* ---------skills component------------------------------------------------------------ */

/* container for the 3 boxes */
.skillSetContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.skillBox {
  display: inline-block;
  background: gray;
  padding: 2rem;
  text-align: center;
  position: relative;
  width: 20%;
}

.skillBox h4 {
  font-size: 1.6rem;
}

.skillBox p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

/* Projects Component ------------------------------------------ */

.projectsContainer {
  height: 50vh;
}

.projectBoxContainer {
  display: flex;
  justify-content: space-between;
}

.projectBox {
  background: purple;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.projectBox h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.projectBox p {
  margin: 1rem 0;
}

.projectImg {
  width: 250px;
}
