/* Custom CSS Variables */

:root {
  --green: #54e08a;
  --black: #363636;
  --gradientColor: rgb(60, 218, 170);
  --gradient: linear-gradient(
    16deg,
    rgba(60, 218, 170, 1) 32%,
    rgba(96, 227, 124, 1) 84%
  );
}

/* css reset ------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* END css reset--------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spartan';
}

section {
  padding: 2rem 0;
}

.navbarHeader {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  background: #121212;
  z-index: 3;
  position: fixed;
  padding: 0.65rem 0;
}

.navbarContainer {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 80%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.logoContainer {
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  display: inline-block;
  padding: 1.5rem;
  position: relative;
}

.logoContainer:hover,
.LogoLetters:hover {
  color: var(--gradientColor);
  border-color: var(--gradientColor);
  transition: 200ms;
}

.LogoLetters {
  color: inherit;
  font-family: 'Sen';
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbarContainer ul {
  display: flex;
}

.navbarContainer ul li {
  margin: 1rem 1.2rem;
}

.navbarContainer ul li:last-of-type {
  margin-right: 0;
}

.navbarContainer ul li a {
  color: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.navbarContainer ul li a:hover {
  color: var(--green);
  transition: 500ms;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.homeContainer {
  background: var(--gradientColor);
  background: var(--gradient);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.homeIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeIntro h1 {
  font-size: 3rem;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 1.7rem;
}

.introSubheader {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
  position: relative;
  z-index: 2;
}

.introSubheader::after {
  content: '';
  height: 4vh;
  width: 106%;
  background: #393636;
  position: absolute;
  z-index: -1;
  left: -3%;
  top: -5%;
  transform: rotate3d(11, -3, 1, 45deg);
}

.homeIntro .homeBtn {
  border: 2px solid var(--black);
  border-radius: 50px;
  background: transparent;
  color: var(--black);
  cursor: pointer;
  padding: 1rem 1.8rem;
  font-size: 1rem;
  transition: 200ms;
  text-decoration: none;
}

.homeBtn:hover {
  background: var(--black);
  color: #fff;
  transition: 200ms;
}

/* About Component --------------------------------------------------------- */

.aboutContainer {
  margin-top: 5rem;
  background: ghostwhite;
}

.subheader {
  color: var(--black);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin: 3.5rem 0;
}

.aboutText {
  font-size: 1.3rem;
  line-height: 2;
}

.aboutFlex {
  display: flex;
  justify-content: space-between;
}

.about-right {
  width: 45%;
  display: flex;
  align-items: center;
}

.camp-img {
  width: 100%;
}

.about-left {
  width: 50%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ---------skills component------------------------------------------------------------ */

/* container for the 3 boxes */
.skillSetContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.skillBox {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: inline-block;
  background: white;
  padding: 2rem;
  text-align: center;
  position: relative;
  width: 20%;
}

.skillBox h4 {
  font-size: 1.6rem;
  background: #393636;
  color: var(--green);
  margin: 0;
  padding: 0.5rem 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 2vh;
}

.skillBox p {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.1rem 0;
}

.gradientText {
  background: linear-gradient(36deg, #0fff9b, #137cff);
  background-size: 200% 200%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.skills-flex {
  display: flex;
}

.side {
  width: 50%;
}

.devImg {
  width: 80%;
}

.skills-right {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  border-radius: 8px;
  background: #fff;
  width: 40%;
  padding: 4%;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0 2%;
}

.other {
  border-radius: 8px;
  background: #fff;
  width: 84%;
  padding: 4%;
  line-height: 1.3;
  box-sizing: border-box;
  margin: 2%;
}

.misc {
  display: flex;
}

.misc p {
  margin: 2%;
}

.skills-right h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #2c2c2c;
}

.border {
  position: absolute;
}

/* Projects Component ------------------------------------------ */

.projectsContainer {
  position: relative;
}

.projectBoxContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  flex-wrap: wrap;
}

.projectBox {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  margin: 0;
  padding: 1%;
  text-align: center;
}

.projectBox h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.projectBox p {
  margin: 1rem 0;
}

.projectImg {
  width: 70%;
  border-radius: 5px;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
}

.carousel-root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.thumbs {
  text-align: center;
  margin-left: 25%;
}

.left {
  width: 35%;
}

.left .project-subheader {
  margin: 2% auto;
}

.fa-info-circle {
  color: #909090;
}

.project-icons {
  background: #1b1b1b;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  top: 2%;
  left: -4%;
  padding: 1% 3%;
  width: 95%;
}

.fa-js-square {
  color: #fddf17;
}

.fa-react {
  color: #61dafb;
}

.node-icon {
  width: 54%;
}

.mongo-icon {
  width: 58%;
  color: red;
}

.fa-database {
  color: #3e9737;
}

.left .project-description {
  color: #555555;
  display: inline;
  margin-left: 2%;
}

.icon-container {
  width: 20%;
  text-align: center;
  display: inline-block;
  margin: 5% 0.5%;
}

.icon-container p {
  font-size: 0.8em;
  margin-top: 5%;
  color: rgb(119, 119, 119);
}

.icon-container .fab,
.icon-container .fas {
  font-size: 2.5rem;
  display: inline;
}

.project-name {
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(23deg, #00ff95, #0066ff, #ff00ff);
  background-size: 400% 400%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  margin: 2% 0;
}

.project-name::after {
  content: '';
  display: block;
  width: 95%;
  height: 5vh;
  background: black;
  position: absolute;
  top: 15%;
  z-index: -1;
  left: 0%;
  transform: rotate3d(11, -3, 1, 45deg);
}

.project-about {
  color: #272727;
  background: #eeeded;
  border-radius: 8px;
  padding: 4%;
  position: relative;
}

.project-about h3 {
  color: inherit;
  font-size: 1.5rem;
  margin: 2% auto;
  font-weight: 500;
}

.project-about p {
  line-height: 1.5;
  color: inherit;
  padding: 1% 0 6%;
}

.project-cta {
  text-align: right;
}

.project-btn {
  border: 1px solid #313131;
  background: transparent;
  border-radius: 4px;
  color: #313131;
  cursor: pointer;
  padding: 2%;
  font-size: 1.2rem;
  width: 50%;
  transition: 300ms;
  text-decoration: none;
  margin: 3% auto;
}

.project-btn:hover {
  background: #000;
  color: #fff;
  transition: 300ms;
}

.project-btn.sm {
  width: 25%;
  margin: 1% 2%;
  font-size: 0.9rem;
}

.github {
  width: 20%;
  margin-left: 5%;
}

.fa-external-link-alt {
  margin-left: 2%;
  font-size: 1rem;
  color: rgb(119, 119, 119);
}

.right {
  width: 70%;
}

.carousel:first-child {
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 0 15px 3px #989898;
}

.projects-other {
  color: var(--black);
  font-size: 2.2rem;
  font-weight: 700;
  flex-basis: 100%;
  padding: 2% 0;
}
