/* Custom CSS Variables */

:root {
  --green: #54e08a;
  --black: #2d2d2d;
  --gradientColor: rgb(60, 218, 170);
  --gradient: linear-gradient(
    16deg,
    rgba(60, 218, 170, 1) 32%,
    rgba(96, 227, 124, 1) 84%
  );
}

/* css reset ------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* END css reset--------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Spartan";
}

section {
  padding: 2rem 0;
}

.navbarHeader {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  background: #121212;
  z-index: 3;
  position: fixed;
  padding: 0.65rem 0;
}

.navbarContainer {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 80%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.logoContainer {
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  display: inline-block;
  padding: 1.5rem;
  position: relative;
}

.logoContainer:hover,
.LogoLetters:hover {
  color: var(--gradientColor);
  border-color: var(--gradientColor);
  transition: 200ms;
}

.LogoLetters {
  color: inherit;
  font-family: "Sen";
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbarContainer ul {
  display: flex;
}

.navbarContainer ul li {
  margin: 1rem 1.2rem;
}

.navbarContainer ul li:last-of-type {
  margin-right: 0;
}

.navbarContainer ul li a {
  color: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.navbarContainer ul li a:hover {
  color: var(--green);
  transition: 500ms;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.homeContainer {
  background: var(--gradientColor);
  background: var(--gradient);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.homeIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeIntro h1 {
  font-size: 3rem;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 1.7rem;
}

.introSubheader {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
  position: relative;
  z-index: 2;
}

.introSubheader::after {
  content: "";
  height: 4vh;
  width: 106%;
  background: #393636;
  position: absolute;
  z-index: -1;
  left: -3%;
  transform: rotate3d(11, -3, 1, 43deg);
}

.homeIntro .homeBtn {
  border: 2px solid var(--black);
  border-radius: 50px;
  background: transparent;
  color: var(--black);
  cursor: pointer;
  padding: 1rem 1.8rem;
  font-size: 1rem;
  transition: 200ms;
}

.homeBtn:hover {
  background: var(--black);
  color: #fff;
  transition: 200ms;
}

/* About Component --------------------------------------------------------- */

.aboutContainer {
  margin-top: 5rem;
}

.subheader {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  margin: 3.5rem 0;
}

.subheader::after {
  content: "";
  height: 4vh;
  width: 16%;
  background: var(--green);
  position: absolute;
  z-index: -1;
  left: 42%;
  transform: rotate3d(11, -3, 1, 43deg);
}

.aboutText {
  font-size: 1.3rem;
  line-height: 2;
}

.aboutContainer .iconContainer {
  font-size: 3rem;
  text-align: center;
}

.iconContainer i {
  margin: 2rem;
}

/* ---------skills component------------------------------------------------------------ */

/* container for the 3 boxes */
.skillSetContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.skillBox {
  border: 1px solid #bababa;
  border-radius: 5px;
  display: inline-block;
  background: white;
  padding: 2rem;
  text-align: center;
  position: relative;
  width: 20%;
}

.skillBox h4 {
  font-size: 1.6rem;
  background: #393636;
  color: var(--green);
  margin: 0;
  padding: 0.5rem 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 2vh;
}

.skillBox p {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.1rem 0;
}

/* Projects Component ------------------------------------------ */

.projectsContainer {
  height: 50vh;
}

.projectBoxContainer {
  display: flex;
  justify-content: space-between;
}

.projectBox {
  background: purple;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.projectBox h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.projectBox p {
  margin: 1rem 0;
}

.projectImg {
  width: 250px;
}
